.options-container {
  flex-direction: column;
  gap: 4px;
  width: 92%;
  height: inherit;
  overflow: auto;

  padding: 10px;
  background-color: white;
  text-align: left;
}

.option {
  position: relative;
  border: 1px solid gray;
  
  flex-direction: row;
  gap: 6px;
  padding: 10px;
}

.index-container {
  height: 100%;
  flex-direction: column;
  gap: 2px;
}

.index {
  font-size: 13px;
  width: 24px;
  height: 16px;
  padding: 0 4px;
}

.lyric {
  text-align: left;
  
  font-size: 12.5px;
  padding: 4px;
}