* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
  background-color: #85666695;
}

input[type=number] {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0; 
}

.App {
  height: inherit;
  width: inherit;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #D1D1D1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  height: 16px;
}

.app {
  position: relative;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
}

.pointer {
  cursor: pointer;
}

.active {
  background-color: #E1E1E1;
}