#sidebar {
  position: absolute;
  right: 0;

  background-color: #DDD1D2;

  width: 300px;
  height: 100vh;
}

#file-upload {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;

  color: rgb(160, 160, 160);
}

#lyric-container {
  width: 90%;
  height: 100vh;
}

#lyric-upload {
  width: 92%;
  height: 92%;
  padding: 10px;
  border-radius: 0 0 4px 4px;

  resize: none;
}

#mainframe {
  width: 100%;
  height: 100%;
}

#image-view {
  width: calc(100% - 300px);
  height: 100%;
}

#video-container {
  display: flex;
  flex-direction: column;
}

#video-player {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 75vh;
  background-color: black;
}

#video-slider {
  -webkit-appearance: none;
  appearance: none;
  background: #DDD1D2;
  width: 100%;
  height: 15px;
  line-height: 15px;
  border-radius: 0;

  position: relative;
}

#video-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 16px;
  background: purple;
}

#lyrics-container {
  align-items: center;
  height: 100%;
  font-size: 18px;
  line-height: 18px;
  gap: 18px;
}

#timing-container {
  position: relative;
  width: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  overflow-y: scroll;

  text-align: left;
}

#timing-container > div {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.tabs {
  background-color: rgb(230, 230, 230);
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
  overflow: hidden;
  gap: 2px;
  text-align: left;
}

.lyric-tab {
  font-size: 14px;
  background-color: white;
  padding: 6px;
  cursor: pointer;
}

.active {
  background-color: rgb(235, 235, 235);
}