#sidebar {
  height: 100%;
  width: 285px;
  background-color: #C7B4B5;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.sidebar-container {
  height: 98%;
  width: 100%;
  margin: 10px;
  background-color: #DDD1D2;
  overflow: hidden;
}

.sidebar-header {
  gap: 2px;
  padding: 2px;
  overflow-x: auto;

  border-bottom: 8px solid #C7B4B5;
}

.sidebar-content {
  position: relative;
  height: calc(100% - 50px);
}

.menu-tab {
  font-size: 13px;
  background-color: white;
  padding: 10px;

  user-select: none;
  transition: all .2s ease-in-out;
}

.menu-tab:hover {
  background-color: #FCF4EC;
}

.assets-label {
  font-weight: 600;
}
